*{
    margin: 0px;
    padding: 0px;    
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: #ebebeb;
}

h3{
    font-size: 24px;
}

p{
    font-size: 12px;
}

div.top-header{
    display: flex;
    flex-wrap: wrap;
    padding: 5%;
}

header div.top-header p{
    width: 100%;
    text-align: center;
    margin-top: 10px;
}

header{
    background-color: #EAC926;
    margin-bottom: 10px;
}

header div.logo,
header .form{
    width: 50%;
}

header div.logo{
    padding: 10px;
}
header .form{
    display: flex;
    align-items: center;
    padding: 2px;
    font-size: 11px;
}
header nav{
    font-size: 15px;
    /*margin-left: 20px;*/
}

header ul li{
    list-style-type: none;
}

header ul li a{
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: #000;
}

header .form .input{
    background-color: #FFF;
    border: 1px solid #000;
    outline: none;
    color: #666;
    padding: 2px;
}

header .form .submit{
    background-color: blue;
    border: 1px solid white;
    color: white;
    padding: 7px 8px 7px 8px;
    margin-left: 5%;
    border-radius: 50%;
}

div.burger-menu{
    display: flex;
    justify-content: center;
}

div.burger-menu i{
    background-color: #0044AA;
    border-radius: 5px;
    color: #FFF;
    font-size: 20px;
    height: 38px;
    margin: 20px 0px 20px 0px;
    padding: 10px;
    width: 37px;
}

div.last-visit,
div.offers{
    display: flex;
    flex-wrap: wrap;
}

.price{
    font-size: 18px;
    width: 30%;
}

.discount{
    width: 70%;
}

.discount,
.description{
    font-size: 16px;
    font-weight: normal;
}

h3,
.description{
    color: #666;
}

.description{
    display: none;
    margin-top: 20px;
}

section.banner img{
    width: 100%;
}

main{
    width: 90%;
    margin: 0 auto;
}

main section article{
    background-color: #fff;    
    margin: 10px 0px;
}

main section article img{
    width: 100%;
}

main section article i,
.discount{
    color: #39b54a;
}

main section article i{
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
    transition: 400ms
}
main section article i:hover{
    transform: rotate(-90deg)
}

main section h3{
    margin: 20px 0px;
}
.main-article h4.description{
    display:none;
    margin-top: 20px;
    transition: 400ms;
}
.main-article:hover h4.description{
    display:block;
}

article div.main-article{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    border-top: 1px solid #ebebeb;
    position: relative;
    padding: 15px;
}


@media (min-width: 361px){
    main section article .description{
        display: block;
    }

    main section article{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }

    main section div.products{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
    }
    
    main section div.products article{
        width: 45%;
    }

    .price,
    .discount{
        width: 50%;
    }
}

@media (min-width: 769px){
    main section div.products article{
        width: 22%;
    }
}
.buttons-register{
    display: flex;
    justify-content: center;
}

.button-send{
    color: white;
    border: solid 2px white;
    background-color: blue;
    padding: 5px;
    border-radius: 15%;
    transition: 150ms;
    cursor:pointer;
}

.button-clear{
    color: white;
    border: solid 2px white;
    background-color: rgb(6, 6, 173);
    padding: 5px;
    border-radius: 15%;
    transition: 250ms;
    cursor:pointer;
}

.button-clear:hover {
    color: blue;
    background-color: white ;
    border: solid 2px blue;
}

.button-send:hover{
    color: rgb(6, 6, 173);
    background-color: #fff;
    border: solid 2px rgb(6, 6, 173)
}


.barra-escribir{
    padding: 3px;
    border: solid 2px blue;
    margin: 5px 2px 5px 0px;
}
.barra-escribir-login{
    margin-top: 20px;
}

.button-send-login{
    margin-top:20px;
    display:flex;
}
.button-send-register{
    margin-right: 5%;
}
.button-clear-register{
    margin-left: 5%;
}

.form-register{
    margin: 30px 20% 0px 20%;
}
footer{
    background-color: rgb(109, 107, 107);
}

footer .information{
    font-size: 5px;
    color: rgb(0, 0, 0);
}
h3{
    color:#000
}